<VirtualHost *:80>
	ServerAdmin dev@elevatestudios.com
	ServerName <%= sitedomain %>.dev
	ServerAlias www

	DocumentRoot /var/www/<%= sitedomain %>/

	<Directory /var/www/<%= sitedomain %>/>
		Options FollowSymLinks
		AllowOverride All
		Order Allow,Deny
		Allow from All

		Header unset Pragma
		FileETag None
		Header unset ETag

		<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf|pdf|flv|mp3)$">
			<IfModule mod_expires.c>
				ExpiresActive on
				ExpiresDefault "access plus 14 days"
				Header set Cache-Control "public"
			</IfModule>
		</FilesMatch>
		
		<FilesMatch "\.(html|htm|xml|txt|xsl)$">
			Header set Cache-Control "max-age=7200, must-revalidate"
		</FilesMatch>


		<IfModule mod_rewrite.c>
			RewriteEngine On
			RewriteBase /

			#STRIP WWW
			RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
			RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

			RewriteCond %{REQUEST_FILENAME} !-f
			RewriteCond %{REQUEST_FILENAME}/index.html !-f
			RewriteCond %{REQUEST_FILENAME}/index.php !-f
			RewriteRule ^(.*)$ index.php/$1 [L]
		</IfModule>

	</Directory>

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn
	ErrorLog ${APACHE_LOG_DIR}/<%= sitedomain %>-error.log
	CustomLog ${APACHE_LOG_DIR}/<%= sitedomain %>-access.log combined
</VirtualHost>